@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=DM+Serif+Display:ital@0;1&display=swap");
@import "tailwindcss";

.dm {
  font-family: "DM Serif Display", serif;
}

html,
body {
  font-family: "Outfit", sans-serif;
  background-color: #faf7f2;
}

input{
  outline: none;
}

/* Scrollbar width */
/* ::-webkit-scrollbar {
  width: 8px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
  background: #f3f4f6;
  border-radius: 999px;
} */

/* Thumb */
/* ::-webkit-scrollbar-thumb {
  background: #032E15;
  border-radius: 999px;
} */

/* Hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #05401d;
} */
